#fortuneCookieText {

	width: auto;
  	height: auto;
  	background-color: teal;
  	margin: 5px;
  	border: 2px solid #000000;
  	padding: 25px;

}

#previousFortunes {

	width: auto;
  	height: auto;
  	background-color: crimson;
  	margin: 5px;
  	border: 2px solid #000000;
  	padding: 25px;
  	
}