body {

background-color: black;

}

h1 {

	color: white;

}

h2 {

	color:white;

}

#fortuneCookieText {

	width: auto;
  	height: auto;
  	background-color: gold;
  	margin: 5px;
  	border: 2px solid #000000;
  	padding: 25px;

}

#previousFortunes {

	width: auto;
  	height: auto;
  	background-color: Orange;
  	margin: 5px;
  	border: 2px solid #000000;
  	padding: 25px;
  	
}

